<%- include('header')  -%>
<%- include('nav') %>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

    <div class="head">
        <h1 class="heading">CSS <br> CONTENT </h1>

    </div>

    <ul class="lol">
        <li>CSS stands for Cascading Style Sheets</li>
        <li>CSS describes how HTML elements are to be displayed <br>
            on screen, paper, or in other media</li>
        <li>CSS saves a lot of work. It can control the layout of <br>
            multiple web pages all at once</li>
        <li>External stylesheets are stored in CSS files</li>
        <!-- <li>HTML elements tell the browser how to display the content</li>
        <li>HTML elements label pieces of content such as "this is a heading", "this
            <br> is a paragraph", "this is a link", etc.
        </li> -->
    </ul>

    <div>
        <img class="back_img" src="/images/img2.jpg" alt="">
        <img class="next_img" src="/images/img3.png" alt="">
    </div>

    <h2 class="videos">Recommended Tutorials</h2>
    <div id="services10">


        <iframe class="frame1" src="https://www.youtube.com/embed/ESnrn1kAD4E?si=vr66itQSUOorpQ3W" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


        <iframe class="frame2" src="https://www.youtube.com/embed/Edsxf_NBFrw?si=xVIZlMlCl2wWys66" title="YouTube video player" frameborder="0" allow="accelerometer; 
        autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>



        <iframe class="frame3" src="https://www.youtube.com/embed/EUtlj7xdO1o?si=AaySGBLEQcqmAbBT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <iframe class="frame4" src="https://www.youtube.com/embed/hkQv0NIxKQY?si=9zIgQhuilL2P4kh7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>

    <h1 class="h111">CSS OVERVIEW</h1>
    <p>CSS property is used to set the style or assign behavior of HTML elements. The CSS property contains two parts, property_name, and 
        property_value. The property_value is enclosed within double quotes (” “). Example: In this example, we will see the use of many properties usage, all the keywords 
        mentioned inside of { and } braces are properties.</p>

        <p>A CSS <span>property</span> assign a style or behavior to an HTML element.</p>

        <p>Examples include: color, border, margin, font-style, and transform.</p>
        <p >A property is an aspect of a selector. For instance, you can change the font-family, color, and font-size of the text
             on your web pages (in addition to many more).</p>

             <p >A value is a possible setting for
                 a property. color can be red, blue, black, or almost any color; font-family can be a whole bunch of different fonts; and so on.</p>



        <hr>
        <%- include('footer') %>
</body>
</html>