<div class="below1">
    <h5 id="item1">Contact-us</h5>

    <section id="client-section">

      <div id="clients">
        <div class="client-item">
          <a href="https://www.linkedin.com/in/kanupriya-namdev-0935a823a/" target="_blank"><img
              src="/images/linkedin.png" alt="Client"></a>

        </div>
        <div class="client-item">
          <a href="mailto:vipultyagi840@gmail.com"><img src="/images/gmail.png" alt="Client"></a>

        </div>
        <div class="client-item">
          <a href="https://www.instagram.com/tyagi_universe/?next=%2F" target="_blank"><img src="/images/instagram.png"
              alt="Client"></a>

        </div>
        <div class="client-item">
          <a href="https://www.facebook.com/vipul.tyagi.007" target="_blank"><img src="/images/facebook.png"
              alt="Client"></a>

        </div>


      </div>
    </section>
  </div>