<%- include('header') -%>
<%- include('nav') %>
<link rel="stylesheet" href="/css/styles.css">
    <div class="head">
        <h1 class="heading">JAVASCRIPT <br> CONTENT </h1>

    </div>

    <ul class="lol">
        <li>JavaScript is the world's most popular programming language.</li>
        <li>JavaScript is the programming language of the Web.</li>
        <li>JavaScript accepts both double and single quotes:</li>
        <li>JavaScript was invented by Brendan Eich in 1995,
            <br> and became an ECMA standard in 1997.</li>
        <!-- <li>HTML elements tell the browser how to display the content</li>
        <li>HTML elements label pieces of content such as "this is a heading", "this
            <br> is a paragraph", "this is a link", etc.
        </li> -->
    </ul>

    <div>
        <img class="back_img " src="/images/bcj.jpg" alt="">
        <img class="next_img" src="/images/img3.png" alt="">
    </div>

    <h2 class="videos">Recommended Tutorials</h2>
    <div id="services10">


        <iframe class="frame1" src="https://www.youtube.com/embed/hKB-YGF14SY?si=zZ5qj59Fsamt5DF6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <iframe class="frame2" src="https://www.youtube.com/embed/W6NZfCO5SIk?si=3S6tlClEz2LaxqL5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
         clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


         <iframe class="frame3" src="https://www.youtube.com/embed/htznIeWKgg8?si=tTvjeiHcsTxHnFkd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
         encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

         <iframe class="frame4" src="https://www.youtube.com/embed/Kdz9J5vC4_o?si=Q40bNHplIexCvxA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; e
         ncrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <h1 class="h111">JAVASCRIPT OVERVIEW</h1>
    <p>JavaScript (JS) is a lightweight interpreted (or just-in-time compiled) programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a prototype-based, multi-paradigm, single-threaded, dynamic language,
         supporting object-oriented, imperative, and declarative (e.g. functional programming) styles.JavaScript's dynamic capabilities include runtime object construction, variable parameter lists, function variables, dynamic script creation (via eval), object introspection (via for...in and Object utilities), and source-code recovery (JavaScript functions store their source text 
         and can be retrieved through toString()).</p>

         <p>JavaScript documentation of core language features (pure ECMAScript, for the most part) includes the following:</p>
         <ul>
            <li>The JavaScript guide</li>
            <li>The JavaScript reference</li>
          </ul>


        <P>
            JavaScript (js) is a light-weight object-oriented programming language which is used by several websites for scripting the webpages. It is an interpreted, full-fledged programming language that enables dynamic interactivity on websites when applied to an HTML document. It was introduced in the year 1995 for adding programs to the webpages in the Netscape Navigator browser. Since then, it has been adopted by all other graphical web browsers. With JavaScript, users can build modern web applications to interact directly without reloading the page every time. 
            The traditional website uses js to provide several forms of interactivity and simplicity.
        </p>

        <hr>

        
            
          </div>
   <%- include('footer') %>
</body>
</html>


