<%- include('header.ejs') -%>
<link rel="stylesheet" href="/css/log_css.css">
<div class="container" id="container">
  <div class="form-container log-in-container">
    <form action="" method="post">
      <h2>E-help</h2>
      <p>Welocme Back:)</p>
      <div class="social-container">
        <a href="#" class="social"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="#" class="social"><i class="fab fa fa-twitter fa-2x"></i></a>
      </div>
      <!-- <span>or use your account</span> -->
      <input type="email" name="mail" placeholder="Email" autocomplete="off" />
      <input type="password" name="psw" placeholder="Password" />
      <a href="#">Forgot your password?</a>
      <button>Log In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <img class="log_pic" src="/images/log.jpg">
        <!-- <h1>E-help Login Form</h1> -->
        <!-- <p>This login form is created using pure HTML and CSS. For social icons, FontAwesome is used.</p> -->
      </div>
    </div>
  </div>
</div>
</body>
</html>